/* Header Area */
.heading {
    text-align: center;
    font-size: 36px;
    flex: 1;
    color: #ffffff;
}

/* Dropdown Menu */
.menu-items {
    display: none;
}

.menu-items.visible {
    display: block;
}

.menu-container {
    position: relative;
}

/* Menu positioning and styles */
.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;  
    color: #ffffff;   
    position: absolute;
    top: -60px;      
    left: 10px;      
    z-index: 10;     
}

/* Login Icon style and positioning */
.login-icon {
    position: absolute;
    top: 40px;       
    right: 20px;     
    z-index: 10;    
    font-size: 30px;  
    color: #ffffff; 
}

.login-link {
    font-size: 30px;  
    color: #ffffff;
}

/* Main Content */
body {
min-height: 100vh; 
display: flex;
flex-direction: column;

    /* Background Image */
    background-image: url("{% static 'core/images/background-image.jpeg' %}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    flex: 1; /* Takes all remaining space, pushing footer down */
    display: flex;
    flex-direction: column; 
    justify-content: center;   /* Centers them vertically */
    align-items: center;       /* Centers them horizontally */
    height: 100%;              /* Ensures main takes up available space */
    margin: 0;
    padding: 0;
}

/* Buttons for hompeage */
.btn {
    margin: 0.5em 0;           /* Some spacing between the buttons */
    background-color: #8697C4;
    padding: 1rem;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em;
    background-color: #8697C4;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
}

.footer-section {
    width: 45%;
}

/* SIGNUP PAGE */
.signup-title {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}