/* Header Area */
.heading {
    text-align: center;
    font-size: 36px;
    flex: 1;
    color: #ffffff;
    border-radius: 8px;
    background-color: #8697c4;
    padding: 5px 10px;
}

/* Hamburger Menu for navigation */
.menu-items {
    display: none;
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: #ffffff;
    border: 2px solid #8697C4;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 200px;
    z-index: 1000;
}

.menu-items a {
    color: #5280ff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin: 5px 0;
}

.menu-items.visible {
    display: block;
}

.menu-container {
    position: absolute;
    top: 35px;
    left: 10px;
    z-index: 1000;
}

/* Hamburger Menu positioning and styles */
.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;  
    color: #ffffff;
}

/* Login/Signup/account status dropdown menu */
.login-signup {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    color: #5280ff;
    background-color: #ffffff;
    border: 2px solid #8697C4;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 200px;
    font-weight: bold;
}

.login-signup.visible {
    display: block;
}

.menu-container-account {
    position: absolute;
    top: 35px;       
    right: 18px;     
    z-index: 1000;    
}

.menu-toggle-account {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.menu-toggle-account i {
    font-size: 30px;
    color: #ffffff;
    vertical-align: middle;
}

/* Main Content */
body {
min-height: 100vh; 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

/* Background Image */
background-image: url("{% static 'core/images/background-image.jpeg' %}");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

/* Center and position main content information */
main {
    flex: 1; /* Takes all remaining space, pushing footer down */
    display: flex;
    flex-direction: column; 
    justify-content: center;   /* Centers them vertically */
    align-items: center;       /* Centers them horizontally */
    height: 100%;              /* Ensures main takes up available space */
    margin: 0;
    padding: 0;
    padding-bottom: 200px;
}

/* Booking Details for booking page */
.booking-details {
    color: #ffffff;
    font-weight: bold;
    background-color: #8697C4;
    padding: 12px;
    border-radius: 20px;
    text-align: center;
    font-size: 17px;
}
/* manage booking button */
.manage-booking {
    padding: 20px;
}

/* Booking deleted successfully and Booking Successful */
ul.messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

ul.messages li {
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    margin: 5px 0;
    background-color: #8697C4;
    padding: 3px;
    border-radius: 5px;
}
/* Error message for user trying to book in the past */
.errorlist {
    list-style: none;
    padding: 0;
    text-align: center;
}
.errorlist li {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 18x;
}

/* Booking form styling */
.form-wrapper {
    color: #ffffff;
    font-size: 20px;
    background-color: #8697C4;
    border-radius: 20px;
    padding: 5px 5px 20px 20px;
}

.book-table-btn {
    display: block; 
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    color: #ffffff;
    background-color: #8697C4;
    cursor: pointer;
}

.book-table-btn:hover {
    background-color: #5280ff;
}

/* Main buttons for homepage (book a table/ view our menu */
.btn {
    margin: 0.5em 0;          
    background-color: #8697C4;
    padding: 1rem;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

/* Menu Page Styling */
.menu-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8697C4;
    margin: 5px;
    padding: 15px;
    border-radius: 20px;
}

/* Menu item name */
.menu-item h3 {
    margin: 0;
    font-size: 20px;
    color: #ffffff;
}

/* Description of menu item */
.menu-item p {
    margin: 0;
    font-size: 18px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

/* Footer */
.footer {
    background-color: #8697C4;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
}
/* footer content container */
.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 15px;
    gap: 5%;
}

/* opening-times section styles */
.opening-times {
    flex: 1;
    max-width: 45%;
}

.opening-times h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.opening-times p {
    margin: 5px 0 0;
    font-size: 18px;
    font-weight: bold;
}

/* Socail Media section container */
.social-media {
    flex: 1;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

/* Heading inside the Social media section */
.social-media h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}
/* social media links */
.social-media a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 3px;
}

/* hover effect */
.social-media a:hover {
    color: #5280ff;
}

/* Social media icon styling */
.social-media a i {
    font-size: 18px;
    margin-right: 10px;
}
/* Social media text sizes */
.social-media a span {
    font-size: 18px;
}

/* SIGNUP PAGE */
.signup-title {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

ul {
    list-style-type: none; /* removes black dots next to social icons (and opening times)*/
}

/* Hide the hamburger menu on larger screens (Desktop: 1077px and up) */
@media (min-width:1077px) {
    .menu-toggle {
        display: none; /* Hide hamburger icon */
}

/* nav bar menu */
.menu-items {
    display: flex; /* Show the menu as a normal nav */
    position: static;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    width: auto;
}

.menu-items a {
    margin: 8px 15px; /*Space out menu items */
    color: #ffffff;
    font-size: 18px;
    background-color: #8697C4;
    border-radius: 10px;
    padding: 4px;
}
}