{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <title>The Stag's Inn</title>
</head>

<body>
    <header>
        <h1 class="heading">The Stag's Inn</h1>

        <div class="menu-container">
            <button class="toggle-menu" onclick="toggleMenu()">Menu</button>
            <div id="dropdownList" class="menu-items">
                <a href="#">Placeholder 1</a>
                <a href="#">Placeholder 2</a>
                <a href="#">Placeholder 3</a>

            </div>
        </div>
    </header>

        <main>

        <button class="btn-book-table">Book A Table</button>
        <button class="btn-view-menu">View Our Menu</button>

        </main>

    <footer class="footer">
        <div class="footer-section">
            <h3>Opening Times</h3>
            <ul>
                <li>Monday - Friday: 9:00 AM - 9:00 PM</li>
                <li>Saturday: 10:00 AM - 10:00 PM</li>
                <li>Sunday: 10:00 AM - 8:00 pm</li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>How To Find Us</h3>
            <ul class="social-links">
                <li><a href="" target=""></a></li>
                <li><a href="" target=""></a></li>
                <li><a href="" target=""></a></li>
            </ul>
        </div>
    </footer>
    <script src="{% static 'core/script.js' %}"></script>
</body>
</html>