{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <title>The Stag's Inn</title>
</head>
<body>
    <header>
        <h1 class="heading">The Stag's Inn</h1>

        <nav class="nav">
            <button class="menu-toggle" aria-label="Toggle navigation" aria-expanded="false">
                <span class="x"></span>
                <span class="x"></span>
                <span class="x"></span>
                <span class="x"></span>
            </button>
        </nav>

        <button class="btn-book-table">Book A Table</button>
        <button class="btn-view-menu">View Our Menu</button>

    </header>

    <footer>
        <div class="footer-section">
            <h3>Opening Times</h3>
            <ul>
                <li>Monday - Friday: 9:00 AM - 9:00 PM</li>
                <li>Saturday: 10:00 AM - 10:00 PM</li>
                <li>Sunday: 10:00 AM - 8:00 pm</li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>How To Find Us</h3>
            <ul class="social-links">
                <li><a href="" target=""></a></li>
                <li><a href="" target=""></a></li>
                <li><a href="" target=""></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>