/* Header Area */
.heading {
    text-align: center;
    font-size: 40px;
    flex: 1;
}

/* Dropdown Menu */
.menu-items {
    display: none;
}

.menu-items.visible {
    display: block;
}

/* Main Content */
body {
min-height: 100vh; 
display: flex;
flex-direction: column;

    /* Background Image */
    background-image: url("{% static 'core/images/background-image.jpeg' %}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    flex: 1; /* Takes all remaining space, pushing footer down */
    display: flex;
    flex-direction: column; 
    justify-content: center;   /* Centers them vertically */
    align-items: center;       /* Centers them horizontally */
    height: 100%;              /* Ensures main takes up available space */
    margin: 0;
    padding: 0;
}

.btn-book-table,
.btn-view-menu {
    margin: 0.5em 0;           /* Some spacing between the buttons */
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em;
}

.footer-section {
    width: 45%;
}