{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
    <title>The Stag's Inn</title>
</head>

<body style="background-image: url('{% static 'images/background.avif' %}');">
    <header>
        <h1 class="heading">BOOKING PAGE</h1> </body>

        <div class="menu-container">
            <button class="menu-toggle" onclick="toggleMenu()">
                <i class="fa-solid fa-bars"></i>  
            </button>
            <div id="dropdownList" class="menu-items">
                <a href="#">Placeholder 1</a>
                <a href="#">Placeholder 2</a>
                <a href="#">Placeholder 3</a>
            </div>
        </div>

        <div class="login-icon">
            <a href="#" class="login-link">
                <i class="fas fa-user"></i>
            </a>
        </div>
    </header>

    <main>

    <button class="btn btn-cancel">Cancel Booking</button>
    <button class="btn btn-date">Date</button>
    <button class="btn btn-time">Time</button>
    <button class="btn btn-guests">Amount of guests</button>

    </main>

    <footer class="footer">
        <div class="footer-section">
            <h3>Opening Times</h3>
            <ul>
                <li>Monday - Sunday: 9:00 AM - 9:00 PM</li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>How To Find Us</h3>
            <ul class="social-links">
                <li>
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                    aria-label="Visit our facebook page (Opens a new tab)"><i class="fa-brands fa-facebook">Facebook</i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                    aria-label="Visit our instagram page (Opens a new tab)"><i
                        class="fa-brands fa-instagram">Instagram</i></a>
                </li>
                <li>
                    <a href="https://www.twitter.com/" target="_blank" rel="noopener"
                    aria-label="Visit our instagram page (Opens a new tab)"><i class="fa-brands fa-twitter">Twitter</i></a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="{% static 'JS/script.js' %}"></script>
</html>