{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <title>Table & Vine | Signup</title>
</head>
<body>
    <div class="signup-title">
    <h1>SignUp Page</h1>
    </div>
    <form method="post">
        {% csrf_token %} <!-- Adds security to Protect the form from CSRF attacks -->
        {{ form.as_p }} <!-- Displays the form with fields in <p> tags -->
        <button type="submit">Signup</button>
    </form>
    <!-- Link to take the user back to the homepage -->
<a href="{% url 'homepage' %}">Back to HomePage</a>
</body>
</html>